{{#if resume.work.length}}
    <section class="section-work">
        {{> components/title icon='briefcase' title='Experience'}}

        {{#each resume.work}}
            <div class="card">
                {{#if startDate}}
                    <div class="card-header">
                        <span class="card-text card-dates">
                            {{formatDate startDate}} - {{#if endDate}}{{formatDate endDate}} <span class="date-span">({{dateDiff startDate endDate}})</span>{{/if}}
                        </span>
                        {{#unless endDate}}
                            <span class="badge badge-success">current</span>
                        {{/unless}}
                    </div>
                {{/if}}

                {{#if position}}
                    <div class="card-block">
                        <h3 class="card-title">
                            {{position}}
                            <span class="card-subtitle">
                                 {{company}}
                                {{#if website.length}}
                                | <a class="text-secondary" style="text-transform:lowercase" href="{{website}}">
                                    <i class="fas fa-link"></i>
                                    <span>{{removeSchema website}}</span>
                                </a>
                                {{/if}}
                            </span>
                        </h3>
                        {{#if summary}}
                            <div class="card-text">{{{summary}}}</div>
                        {{/if}}
                    </div>
                {{/if}}
                {{#or highlights.length website}}
                    <div class="card-footer text-muted">
                        {{#if highlights.length}}
                        <ul class="card-highlights">
                            {{#each highlights}}
                            <li class="tag">
                                {{this}}
                            </li>
                            {{/each}}
                        </ul>
                        {{/if}}

                    </div>
                {{/or}}
            </div>
        {{/each}}
    </section>
{{/if}}
